body {
    background: url("../images/back.jpg") no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}
.logo {
    width: 213px;
    height: 66px;
    background: url("../images/logo.png");
    background-size: 213px 66px;
    margin: 30px auto;
}

.outer {
    width: 80%;
    margin: 30px auto;
}

.table {
    width: 100%;
    background: url("../images/table.jpg");
    background-repeat: no-repeat;
    border-collapse: collapse;

}

table tr {
    padding: 0;

}

.table td {
    height: 50px;
    margin: 0;
}


.mid {
    border-left: 7px solid #ffffff;
    border-right: 7px solid #ffffff;
    width: 35%;
}

.side {
    width: 30%;
}

.inner {
    text-align: center;
    border: none;
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
}

.content {
    width: 100%;
    height: 30px;
    background: #ff656c;
    box-sizing: border-box;
    border: 1px solid #e15960;
    color: #fff;
    font-size: 16px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.menu {
    width: 100%;
    margin-bottom: 50px;
    height: 60px;
    background: #ff656c;
    box-sizing: border-box;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: Montserrat;
    outline: none;
    text-align: center;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;

}